.vscode
.vscode-test
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/webpack.config.js
src/
node_modules/
.npmrc
.prettierrc
.eslintrc.json
tsconfig.json
tslint.json
webpack.config.js
